.gray {
  background-color: gray;
}

.fluid-inner {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 10px;
  color: white;
}

.inner-flex-mobile {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.icon-margin-left {
  margin-left: 10px;
  padding: 0;
}

h1.inline {
  display: inline-block;
  margin-left: 10px;
}

.inner-flex-desktop {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-flex-mobile {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 376px) {
  .inner-flex-mobile {
    display: none;
  }
}

@media only screen and (max-width: 376px) {
  .inner-flex-desktop {
    display: none;
  }
}

.fa-check-circle:before {
  /* background-color:green; */
  color: green;
  background-color:white;
  border-radius: 50%;
}
.fa-times-circle:before {
  color: red;
  background-color:white;
  border-radius:50%;
  /* border: 2px solid red; */

}

